<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eroad.project.dao.SRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.eroad.project.model.SRoleMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rm_id" jdbcType="VARCHAR" property="rmId" />
    <result column="r_id" jdbcType="VARCHAR" property="rId" />
    <result column="m_id" jdbcType="VARCHAR" property="mId" />
  </resultMap>
</mapper>